---
import "./fromLog.css";
---
<main class="loggin">
    <section class="inner">
        <article>
            <h2>loggin</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, molestias nihil distinctio fuga ea vero eligendi beatae voluptatem sit, itaque ipsum alias. Magni incidunt officia ratione laudantium vitae cupiditate commodi.</p>
        </article>
        <form>
            <fieldset>
                <label for="email">Correo electrónico</label>
                <input type="email" name="email" id="email" placeholder="e.g. yourname@example.com">
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input type="password" name="" id="password" placeholder="Password">
            </fieldset>
            <input type="submit" value="Log in">
        </form>
    </section>
</main>