div.card-modal{
    position: absolute;

    height: 100%;
    width: 100em;
    z-index: 2;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

div.modal-inner{
    position: relative;
    border-radius: 20px;
    background-color: var( --background-cristal-color-secondary);
    height: 40em;
    width: 40em;

    padding: 15px;
}

div.modal-inner div.img{
    height: 20em;
    width: 92%;

    margin: 20px;

    background-image: url("/assets/img/background2.png");
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 15px;
}

div.modal-inner article{
    margin-bottom: 15px;
}