footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #24264C;
    height: 233px;
    width: auto;
    border-radius: 112px 112px 0 0;
    gap: 12px;
    padding: 15px 112px;
    margin:0;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* @media all and (max-width: 767px) { .global-container { margin-top: 0; background-image: none; } } */

@media (max-width: 800px) {
    footer {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: min-content;
        gap: 52px;
        padding: 80px 0 15px 0;
    }

}

@media (min-width: 800px) and (max-width: 1280px) {
    
}