<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>serveletTest.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getInfo</servlet-name>
        <servlet-class>serveletTest.getInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verUsuarios</servlet-name>
        <servlet-class>servelets.verUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verDirecciones</servlet-name>
        <servlet-class>servelets.verDirecciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verCategorias</servlet-name>
        <servlet-class>servelets.verCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verProductos</servlet-name>
        <servlet-class>servelets.verProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verFacturas</servlet-name>
        <servlet-class>servelets.verFacturas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>servelets.iniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>servelets.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carrito</servlet-name>
        <servlet-class>servelets.carrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCarrito</servlet-name>
        <servlet-class>servelets.addCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCategoryProducts</servlet-name>
        <servlet-class>servelets.showCategoryProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryProducts</servlet-name>
        <servlet-class>servelets.categoryProducts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getInfo</servlet-name>
        <url-pattern>/getInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verUsuarios</servlet-name>
        <url-pattern>/verUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verDirecciones</servlet-name>
        <url-pattern>/verDirecciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verCategorias</servlet-name>
        <url-pattern>/verCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verProductos</servlet-name>
        <url-pattern>/verProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verFacturas</servlet-name>
        <url-pattern>/verFacturas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carrito</servlet-name>
        <url-pattern>/carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCarrito</servlet-name>
        <url-pattern>/addCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCategoryProducts</servlet-name>
        <url-pattern>/showCategoryProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryProducts</servlet-name>
        <url-pattern>/categoryProducts</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
