a:link{
    text-decoration: none;
    color: inherit;
}
a:active, a:visited{
    color: inherit;
}
div.input-wrapper {
    padding: 3px 0;
    padding-right: 8px;
    padding-left: 32px;
    margin: 8px 0;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: min-content;
}

div.input-wrapper:hover {
    background-image: url("/assets/img/pink1.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10px 4px;
    transition: all 0.3s linear;
}
.btn{
    padding: 8px;
}
input {
    border: 0;
    width: 80%;
    min-width: 110px;

    border-bottom: 0.5px solid var(--border-color-secondary);
}

input[type='password'] {
    min-width: 90px;
}

.input-wrapper,
input[type='submit'],
input[type='button'] {
    display: inline-block;

    border: 2px solid var(--border-color-primary);
    border-radius: 12px;
    background-color: white;

}

input[type='submit'],
input[type='button'] {
    width: min-content;
    height: min-content;
    padding: 3px 16px;
}

input[type='button'] {
    background-color: var(--border-color-primary);
    color: white;
}

input[type='submit']:focus,
input[type='button']:focus {
    display: inline-block;
    border: 2px solid var(--border-color-primary);
    border-radius: 12px;
}

.input-wrapper:focus {
    outline: none;
    border: 3px solid var(--border-color-primary);
    box-shadow: 0 0 10px var(--border-color-primary);
}

input:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0;
}

ul {

    list-style: none;
    padding: 0 !important;
    margin: 0;

}


.showHideButton{
    border: 1px solid var(--border-color-primary);
    padding: 8px;
    width: min-content;
    border-radius: 8px;
}