section.product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
img.bucks{
    height: 18px;
    width: 18px;
    background-position: bottom;
}
@media (max-width: 800px) {
    section.product{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 800px) and (max-width: 1280px) {
    section.product{
        display: flex;
        flex-direction: column;
    }
}