@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
    --color-primary: #F44FC6;
    font-family: Montserrat;
}

body {
    min-height: 100vh;
    height: min-content;

    border: 0;
    margin: 0;

    display: grid;
    grid-template-rows: 5vh auto min-content;

    background: var(--color-primary);
}

a:link,
a:active,
a:visited {
    color: white;
}
fieldset{
    border: none;
}
.error {
    padding: 15px;
    margin: 15px;
    height: 25px;
    background-color: red;
    color: white;
}

