---
import "./footer.css";
---

<footer>
  <ul>
    <li>
      <a href="#">Principal</a>
    </li>
    <li>
      <a href="#">Plorts</a>
    </li>
    <li>
      <a href="#">Contacto</a>
    </li>
    <li>
      <a href="#">Sobre Nosotros</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="#">Iniciar Sesión</a>
    </li>
    <li>
      <a href="#">Admin Panel</a>
    </li>
  </ul>
</footer>
