---
import "./hero.css";
---

<section class="hero">
    <section class="logo-wrapper">
        <figure>
            <img src="/img/slime-rancher-2-logo.png" alt="Slime Rancher Logo" />
        </figure>
        <fieldset>
            <input class="button" type="button" value="Comprar">
            <div class="play-btn-inner button">
                <div class="icon"><i class="bi bi-youtube"></i></div>
                <p>Categorías</p>
            </div>
        </fieldset>
    </section>
    <section class="bg">
        <div class="bg-layer"></div>
        <div class="bg-layer"></div>
        <div class="bg-layer"></div>
        <div class="bg-layer"></div>
        <div class="bg-layer"></div>
    </section>
</section>
