---
const { title } = Astro.props;
// importar css
import "./header.css";
---

<header>
  <section class="header-inner">
    <nav>
      <a href="/">Principal</a>
      <a href="/plorts">Plorts</a>
      <a href="#">Contacto</a>
      <a href="#">Sobre Nosotros</a>
      <h1>{title}</h1>
      <a href="#">Inciar session</a>
    </nav>
    <section>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        ></path>
      </svg>
    </section>
    <fieldset>
      <input type="button" value="Comprar" />
    </fieldset>
  </section>
</header>
