---
const { title } = Astro.props;
// importar css
import "./header.css";
---

<header>
  <section class="header-inner">
    <nav>
      <a href="">Principal</a>
      <a href="">Plorts</a>
      <a href="">Contacto</a>
      <a href="">Sobreneosotos</a>
      <a href=""></a>
    </nav>
    <h1>{title}</h1>
    <section class="hidden">
      icono de amburguesa
    </section>
    <fieldset>
      <input type="button" value="Comprar" />
    </fieldset>
  </section>
</header>
