a,
a:active,
a:visited{
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    font-size: 16pt;
    text-decoration: none;
    transition: color 1s;
    color:black;
    text-transform: capitalize;
    transition: color 1s;
    width: auto;
}

a.variant,
a.variant:active,
a.variant:visited{
    color: white;
}

a:hover{
    color: #F44FC6;
}

a.focus{
    color: #F44FC6;
}