:root{
    --background-color-primary: rgb(248, 214, 214);
    --background-color-secondary: rgb(255, 245, 247);

    --border-color-primary: rgb(224, 109, 129);

    --font-color-primary: rgb(224, 109, 129);
}