header {
    position: fixed;
    right: 0;
    left: 0;

    height: 15rem;
    z-index: 2;
}

header .header-inner {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px;

    background-color: var(--background-color-primary);
    border-bottom: 3px solid var(--border-color-primary);
}

header .header-inner .header-item {
    display: flex;
    align-items: center;
    gap: 5px;

    height: fit-content;
}

div.header-item div.hamburger {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: 2px solid var(--border-color-primary);
}

.header-inner nav.header-item ul {
    display: flex;
    gap: 16px;
}

.header-inner nav.header-item li {
    padding-left: 15px;
    background: url("/assets/img/pink1.png");
    background-position: -15px -50px;
    background-repeat: no-repeat;
    background-size: 0;
    transition: all 0.3s linear;
    /* //TODO: animation */

}


.header-inner nav.header-item li:hover {
    background-position: center left;
    background-size: 13px;
    transition: all 0.3s linear;
    /* //TODO: animation */
}

nav.header-item div.hamburger {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid var(--border-color-primary);
}

header nav.logging {
    position: sticky;
    right: 0;
    left: 0;

    display: flex;
    justify-content: flex-end;
    background-color: rgba(245, 245, 220, 0.797);

    border-bottom: 2px solid var(--border-color-secondary);
    border-radius: 0 0 8px 8px;

    padding: 0 8px;
    height: 3.5vw;
    min-height: max-content;
}

nav.logging form#formLogging {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 8px;
}
nav.logging div.logged{
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 640px) {
    header{
        position:sticky;
        height: min-content;
        z-index: 1;
    }
    nav.header-item div.hamburger {
        visibility: visible;
    }

    div.header-inner {
        text-align: center;
        flex-direction: column !important;
    }

    nav.header-item {
        text-align: center;
        flex-direction: column !important;
    }

    div.header-item .logo {
        display: none;
    }

    nav.header-item ul {
        display: none;
        flex-direction: column !important;


        padding: 0 !important;
        margin: 0;

    }

    nav.header-item ul li {
        padding: 0 !important;
        margin: 0;
        background-image: none;
        transition: none;
    }

    nav.header-item ul li:hover {
        background-image: none;
        transition: none;
    }
    header nav.logging {
        display: none;
    }
    nav.logging form#formLogging {
        justify-content: center;
        text-align: center;
    }
}

@media screen and (min-width: 640px) {
    nav.header-item ul {
        display: flex !important;

    }
}