header{
    position: fixed;
    width: 100vw;
}
header .header-inner{

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background-color-primary);

    padding:18px;
    border-bottom: 3px solid salmon;

    padding-right: 30px;
}

header .header-inner .header-item{
    display: flex;
    align-items: center;
    gap: 20px;
    height: fit-content;
}

header .header-inner ul.top-nav-inner{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 15px;
}
header .header-inner ul.top-nav-inner .top-nav-item{
    padding-left:23px;
    background-image: url("/assets/img/pink1.png");
    background-position: left bottom;
    background-size: 0vw;
    background-repeat: no-repeat;
    transition: all 0.3s linear;
    cursor: pointer;
}
header .header-inner ul.top-nav-inner .top-nav-item:hover{
    background-size: 20px;
    background-position: left 0;
    transition: all 0.2s linear;
}

header .nav-logging {

    padding: 15px;
    background-color: var(--background-color-secondary);

    display: flex;
    justify-content: flex-end;
    gap: 20px;
}




header .header-inner .header-item .hamburger{
    display: none;

    border: 2px solid var(--border-color-primary);
    border-radius: 8px;

    padding: 8px;
    padding-bottom: 5px;
}

@media screen and (min-width: 640px) {

    header .header-inner ul.top-nav-inner{
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex !important;
        flex-direction: row;
        gap: 15px;
    }
  }

@media screen and (max-width: 640px) {

    header .header-inner{
        gap: 10px;
    }
    header .header-item img{
        display: none;
    }
    header .header-inner, .top-nav-inner{
        text-align: center;
    }
    header .header-inner{
        flex-direction: column;
    }
    header nav.top-nav{
        display: block;
    }

    nav.header-item.top-nav{
        flex-direction: column;
        width: 100%;
    }
    header .header-inner .header-item .hamburger{
        display: block;
    }
    header .header-inner .header-item .top-nav-inner{
        display: none;
        flex-direction: column;
        padding:0;

        width: 100%;
    }
    header .header-inner ul.top-nav-inner .top-nav-item{
        padding: 10px;
        border: 2px solid var(--border-color-primary);
        border-radius: 18px;
        margin: 5px;
    }

  }

