section#principal{
    display: flex;
    justify-content: center;
}
div.principal-inner{
    z-index: 1;
    padding-top: 15rem;
    padding-left: 18px;
    height: 100vh;
    width: 70vw;
    max-width: 1200px;
}

div.card-inner{

    width: 12vw;
    border-radius: 18px;
    background-color: white;
}

div.card-header{
    background:url("/assets/img/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;

    border-radius: 15px;
}

div.card-body{
    padding:18px;

}