@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Nerko+One&display=swap');

:root {
  text-rendering: optimizeLegibility;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

input {
  font-size: 13px;
}

header h1.h1 {
  padding: 0;
  margin: 0;

  color: var(--font-color-primary);

  font-family: 'Nerko One', cursive;
  text-shadow: 1px 1px 3px rgba(119, 37, 119, 0.611);

  letter-spacing: 1.2px;
  text-transform: capitalize;
}

header .header-item ul li {

  font-weight: 900;

  color: var(--font-color-tertiary);

  transition: color 0.5s linear;
}

header .header-item ul li:hover {
  color: var(--font-color-secondary);
  text-shadow: 1px 1px 3px rgba(119, 37, 119, 0.373);
}

/* @keyframes water {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }

    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  } */